* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(29, 31, 29, 0.5), 
    rgba(29, 31, 29, 0.5)), url(images/b.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links{
  flex: 1;
  text-align: right;

}

.nav-links ul li{
 list-style: none;
 display: inline-block;
 padding: 8px 12px;
 position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: whitesmoke;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 55px;
}

.text-box p{
    font-size: 30px;
}


@media(max-width: 700px){
    .text-box {
        font-size:20px ;
    }
     
}



.service{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;

}

.col h3{
    font-size: 29px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col-md-4{
    flex-basis: 31%;
    background: #ceeece;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px, 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.col p{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.col-md-4:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

.gallery{
    
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.gallery h3{
    font-size: 35px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.gallery p{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.col{
    flex-basis: 32%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.col img{
    flex: 1;
    width: 100%;
    height: auto;
    display: block;
}


.contactus{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), 
    url(images/contactus.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button:hover{
    border: 1px solid #ceeece;
    background: #ceeece;
    transition: 1s;

}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .bi{
    color:#777;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0 ;

}